*{
    background-color: #E8E8E8;
}
#container{
    padding: 10px;
}
#container .repos{
    width: 100%;
    padding: 5px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
}
#container .repos:hover {
    background: #FAFAFA;
}
#container .repos *{
    background: white;
}
#container .repos .user_avatar{
    float: left;
    border: #0F0F0F solid;
    margin: 5px;
}
#container .repos .user_avatar img{
    width:100px;
    height:100px;
}
#container .repos .user_avatar img:hover{
    opacity: .5;
    transition: all 1s ease;
}
#container .repos .title{
    margin-top: -10px;
}
#container .repos .desc{
    text-align: justify;
}
#container .repos .stars{
    border: #0F0F0F solid;
    padding: 2px;
}
#container .repos .issues{
    border: #0F0F0F solid;
    padding: 2px;
}
