<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>

        <div id="container">
            <div v-if="loading" class="loading">
              <img src="img/loading.gif" alt="">
            </div>
            <div class="repos" v-for="item in items">
                <span class="user_avatar"><img :src='item.owner.avatar_url + ".png"'></span>
                <span class="name"><h1>{{item.name}}</h1></span>
                <span class="desc"><p>{{item.description}}</p></span>
                <span class="stars">Stars: {{item.stargazers_count}}</span>
                <span class="issues">Issues: {{item.open_issues_count}}</span>
                <span class="user"><i>Submitted {{item.pushed_at}} ago by {{item.owner.login}}</i></span>
            </div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
